.bg{
    background-color: rgb(253, 249, 239);
    height: 175vh;
}

h3{
    text-align: center;
    font-weight: 500;
    color:rgb(96, 58, 4)
}

fieldset{
    border: 1.5px solid #362802;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
  }

legend{
    font-size: 20px;

 }

input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    width: 60%;
  }

  .address {
    background-color: transparent;
    display: block;
    margin-top: 5px;
    width: 60%;
    height: 10vh;
    border-radius: 10px;
    margin-left: 10px;
  }

  input[type="tel"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    width: 60%;
  }

  input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    width: 60%;
  }

  input[type="radio"] {
    accent-color: rgb(70, 30, 3); /* Change the color of the radio button */
    margin-left: 10%;
  }

  h5{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
  }

  .exp{
    margin-left: 10px;
  }
  
  #Pay {
    background-color: #c7b2a3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-top: 20px;
    margin-left: 45%;
    font-size: 17px;
  }
  
  #Pay:hover {
    background-color: #2c1102;
  }

  #thankYouMessage {
    display: none;
    background-color: #f2ece2; 
    width: 50%;
    height: 30vh;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #412702;
    color: #422b02;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 23%;
    border-radius: 10px;
    transition:1.0s ease-in, background-color 0.3s ease;
}

#thankYouMessage:hover {
    background-color: #ede4d6;
    transform: scale(1.05); 
}

#thankYouMessage h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 8%;
}

#thankYouMessage p {
    font-size: 18px;
}